<a href="https://colab.research.google.com/github/aakashrana007/Data-Science-Training/blob/main/DAY2_operators%26strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic Operators

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
a-b

-10

In [ ]:
a/b

0.5

In [ ]:
a//b        #floor division

0

In [ ]:
2e5

200000.0

**String:**

In [ ]:
n="Aakash Rana"
len(n)

11

**String indexing:**

In [ ]:
m="banana"
m[5]    #single letter
#for multiple letters:
for index,char in enumerate(m):
  print(f"{index}:{char}")
for i in range(len(m)):
  print(f"{i}:{m[i]}")

0:b
1:a
2:n
3:a
4:n
5:a
0:b
1:a
2:n
3:a
4:n
5:a

**String Slicing:**

In [ ]:
m[1:3]

'an'

In [ ]:
String Concatinate:

In [ ]:
m+" " +n

'banana Aakash Rana'

In [ ]:
c="pokhara "
c*2         #repeats string two times

'pokhara pokhara '

**The "in" syntax:**

In [ ]:
sentence="I love Nepal"
"love" in sentence

True

Iterative string:

In [ ]:
word="kathmandu"
for i in word:
  print(i)

k
a
t
h
m
a
n
d
u

String Methods:

In [ ]:
sentence.upper()

'I LOVE NEPAL'

In [ ]:
sentence.lower()

'i love nepal'

In [ ]:
sentence.casefold()

'i love nepal'

In [ ]:
sentence.capitalize()

'I love nepal'

In [ ]:
sentence.replace("love","like")

'I like Nepal'

# Escape Character: "\\"

In [ ]:
text="She said \"Never let go\"."
text

'She said "Never let go".'

String Count:

In [ ]:
text.count('s')

1

**CLASSWORK:**

In [ ]:
a=7
for i in range(1,11):
  print(f"The value of {a}*{i} is {a*i}")

print(f"The value of {a}*11 is {a*11}")
print(f"The value of {a}*12 is {a*12}")
print(f"The value of {a}*13 is {a*13}")
print(f"The value of {a}*14 is {a*14}")
print(f"The value of {a}*15 is {a*15}")

The value of 7*1 is 7
The value of 7*2 is 14
The value of 7*3 is 21
The value of 7*4 is 28
The value of 7*5 is 35
The value of 7*6 is 42
The value of 7*7 is 49
The value of 7*8 is 56
The value of 7*9 is 63
The value of 7*10 is 70
The value of 7*11 is 77
The value of 7*12 is 84
The value of 7*13 is 91
The value of 7*14 is 98
The value of 7*15 is 105