<a href="https://colab.research.google.com/github/aakashrana007/Data-Science-Training/blob/main/DAY4_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Data Structure:**

1. List
2. Tuple
3. Sets
4. Dictionary

**LIST=[ ]**

In [ ]:
a=['Aakash',7,'Thali',"Mercedez"]
print(type(a))              #check the data structure
a.append("Hello")           #doesnt care about indexing; adds it at the last
a.append(['dog','bird'])    #append a list in the list
a.insert(2,"Data Science")  #to add values at a certain index
print(a[3])                 #prints value of given index
a[3:]                       #slicing; prints values after index 3

<class 'list'>
Mercedez

['Mercedez', 'Data Science', 'Hello', ['dog', 'bird']]

Nested List:

In [ ]:
b=[1,2,[3,4]]
print(b[2])
c=[1,3,[4,"apple",['cat','bat']]]
print(c[2][2][1])

[3, 4]
bat

**Classwork:**

*   Create an old_list ranging from values 1 to 10
*   Creaate a blank new_list=[]
*   Loop through the old_list and append only the even number to the new_list
*   Print the new_list

In [ ]:
old_list=[1,2,3,4,5,6,7,8,9,10]
new_list=[]
for i in old_list:
  if i%2==0:
    new_list.append(i)
print(new_list)

[2, 4, 6, 8, 10]

To delete items form list:
1. pop   #using index; it pop a item at that index
2. del   #using index
3. remove #using the item iteself, it remove it

In [ ]:
alist=['a','b','c','d','e']
alist.pop(2)
alist.remove('d')
del alist[0]
print(alist)

['b', 'e']

**DICTIONARY={ }**

//key-value pair

In [ ]:
info={
    'name': 'Aakash',
    'address': 'Thali',
    'age': 16,
    'interests': ['programming','football','politics and society']
}
print(type(info))
print(info['name'])
print(info.get('address'))
print(info['interests'][2])    #prints item at index 2 from a list within a dict
info['car']='Mercedes-Benz'    #appends a new key-value pair
del info['age']                #deletes a key-value pair
print(info)

<class 'dict'>
Aakash
Thali
politics and society
{'name': 'Aakash', 'address': 'Thali', 'interests': ['programming', 'football', 'politics and society'], 'car': 'Mercedes-Benz'}

\

Dictionary Questions:

1. Create a dictionary representing a person's information (name, age, city, and email), and then print the dictionary.
2. Create two dictionaries representing the scores of two students in a class (use the keys "math" and "science" for subjects), and then merge these dictionaries into a single dictionary.

In [1]:
id={
    'name':'Aayush',
    'age':'20',
    'city':'Lalitpur',
    'email':'aayushmaharjan94@.....',
}
print(id)

ram={
      'math':80,
      'science':85
}
hari={
    'math':76,
    'science':80
}
blist=[ram,hari]
print(blist)

{'name': 'Aayush', 'age': '20', 'city': 'Lalitpur', 'email': 'aayushmaharjan94@.....'}
[{'math': 80, 'science': 85}, {'math': 76, 'science': 80}]

In [4]:
dir(hari)   #Directory; to check what can you do in the dictionary

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

List Questions:

1. Create a list of your favorite fruits, then add a new fruit to the list and print the updated list.
2. Create two lists, one containing the names of students and the other containing their corresponding marks. Merge these lists into a dictionary where the student names are the keys and the marks are the values.


*zip= to merge*

*unzip= to dismantle*

In [15]:
fruits=['mango','grapes','orange']
add=input("Add a fruit: ")
fruits.append(add)
print(fruits)

marks=[60,70,80,90]
students=['Thomas','John','Michael','Arthur']
merged_dict=dict(zip(students,marks))
print(merged_dict)

Add a fruit: banana
['mango', 'grapes', 'orange', 'banana']
{'Thomas': 60, 'John': 70, 'Michael': 80, 'Arthur': 90}

**TUPLE= ( )**

ordered and unchangeable

immutable

In [22]:
tup=(1,2,'apple','cat')
dir(tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
print(tup.count(2))      #counts how many times the item is repeated
print(tup.index('cat'))  #prints the index of given item
print(len(tup))          #length of the tuple or num of items

1
3
4

**SET= { }**

unchangeable and unordered

unindexed

But can add and remove items

In [40]:
setA={1,2,2,3,4}
setB={5,5,6,7}
dir(setB)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [41]:
setA.add(5)
print(setA)   #discard the reapeatition while printing
setB.remove(5)
setA.discard(4)
setA.union(setB)

{1, 2, 3, 4, 5}

{1, 2, 3, 5, 6, 7}